* {
  cursor: none;
}
#custom-cursor {
  position: fixed;
  width: 128px;
  height: 128px;
  background-image: url("images/aim.png");
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position-y: -20vh;
  height: 120vh;
  width: 100vw;
  overflow: hidden;
}

.hearts {
  margin: 20px;
  width: auto;
  height: auto;
  float: left;
}

.heart {
  float: left;
  width: 100px;
  min-height: 100px;
  margin: 5px;
}

#display_score {
  float: right;
  margin: 20px;
  font-size: 100px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  height: 50px;
  width: 100px;
}

.zombie {
  display: block;
  float: left;
  position: inherit;
  width: 100px;
  height: 200px;
  background-color: aqua;
}
