body {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  border-top: 3px solid white;
  font-size: x-large;
  font-weight: bold;
}

.heading {
  height: 50px;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Cinzel Decorative", serif;
  font-size: 1cm;
  font-weight: bold;
  color: black;
}

.navbar {
  display: flex;
  border: 3px solid white;
  border-radius: 10px;
}

.rectangle {
  width: 33%;
  height: 50px;
  margin: 5px;
  border: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  float: left;
}

.link {
  color: white;
  text-decoration: none;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  font-size: xx-large;
}

.text_left {
  width: 50%;
  height: 400px;
  float: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(0, 0, 0);
}

.text_left_main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: white;
  height: 600px;
  width: 400px;
  text-align: left;
  display: flex;
  text-wrap: wrap;
}

.pic_left {
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: contain;
  width: 50%;
  height: 400px;
  float: left;
  margin: 15px;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
